
<header>
    <div class="header_user_iocn">
        <img src="assets/person-cog.svg" alt="">
    </div>
</header>
<div class="product_section_bg">
    <div class="container">
            <div class="product_section">
                    <div class="product_box">
                         <div class="product_img"><img src="assets/Image-Master.png" alt=""></div>
                         <div class="product_info">
                            <div class="product_price">RRP £129.99</div>
                            <h3><span>Burberry</span> Flowy Dress with pink and gold </h3>
                            <div class="product_size">Size 4</div>
                            <div class="product_rental_price">£12.00 Rental</div>
                         </div>
                    </div>


                    <div class="product_box">
                        <div class="product_img"><img src="assets/Image-Master-2.png" alt=""></div>
                        <div class="product_info">
                           <div class="product_price">RRP £129.99</div>
                           <h3><span>Prada</span> Beach dress </h3>
                           <div class="product_size">Size 8</div>
                           <div class="product_rental_price">£12.00 Rental</div>
                        </div>
                   </div>

                   <div class="product_box">
                    <div class="product_img"><img src="assets/Image-Master-1.png" alt=""></div>
                    <div class="product_info">
                       <div class="product_price">RRP £129.99</div>
                       <h3><span>Bhandage</span> Red dress for evening wear </h3>
                       <div class="product_size">Size 12</div>
                       <div class="product_rental_price">£12.00 Rental</div>
                    </div>
               </div>

               <div class="product_box">
                <div class="product_img"><img src="assets/Image-Master-3.png" alt=""></div>
                <div class="product_info">
                   <div class="product_price">RRP £129.99</div>
                   <h3><span>Prada</span> Wedding guest </h3>
                   <div class="product_size">Size 12</div>
                   <div class="product_rental_price">£12.00 Rental</div>
                </div>
           </div>

           <div class="product_box">
                <div class="product_img"><img src="assets/Image-Master-4.png" alt=""></div>
                <div class="product_info">
                <div class="product_price">RRP £129.99</div>
                <h3><span>Ansell</span> Nightwear</h3>
                <div class="product_size">Size 14</div>
                <div class="product_rental_price">£12.00 Rental</div>
                </div>
            </div>


            <div class="product_box">
                <div class="product_img"><img src="assets/Image-Master-5.png" alt=""></div>
                <div class="product_info">
                <div class="product_price">RRP £129.99</div>
                <h3><span>Desacada</span> Summer dress</h3>
                <div class="product_size">Size 8</div>
                <div class="product_rental_price">£12.00 Rental</div>
                </div>
            </div>


            </div>
    </div>
</div>

<footer>
    <div class="powered_by_info">Powered by <span><img src="assets/brand_logos.svg" alt=""></span></div>
</footer>